@media screen and (max-width: 992px){
    //___common___//
    .section {
        overflow: scroll;
    }

    //___Hero Section___//
    .hero-section {

        .circles {
            .profile-circle-1 {
                width: 600px;
                height: 600px;
                border-radius: 50%;
                border: 90px solid #57b1bf;
                box-shadow: 0 0 80px #57b1bf ,inset 0 0 80px #57b1bf;
                position: absolute;
                top: -300px;
                left: -300px;
                z-index: 1;
            }
        }
    }

    .about-section {

        .content-block {
            .atropos-el{
                height: 300px;
                border-radius: 30px;
                transition: 0.4s;
          
            
                .age{
                  font-size: 100px;
                }
            
                .year-old{
                  font-size: 16px;
                  margin: 0;
                  right: 0px;
                  top: 35px;
                }
            }
        }
    }

    .third-section {
        
    }
}